<footer class="bg-primary footer">
    <div class="container">
        <div class="d-flex justify-between flex-wrap">
         <div>
            <ul class="footer-menu text-white d-flex">
                <li class="me-48"><a href="../pages/index.html">首頁</a></li>
                <li class="me-48"><a href="#">系列鏡框</a></li>
                <li class="me-48"><a href="#">門市據點</a></li>
                <li class="me-48"><a href="#">部落格</a></li>
                <li><a href="../pages/faq.html">常見問題</a></li>
            </ul>
            <Ul class="footer-Info mb-32">
                <li class="mb-8"><span class="material-icons material-icons-outlined text-white fs-36 me-24">
                    call</span><a href="tel:+886-800-000-000" class="text-white fs-36">0800-000-000</a>
                </li>
                <li><span class="material-icons material-icons-outlined text-white fs-36 me-24">
                    mail</span><a href="mailto:glasses@business.com"
                    class="text-white fs-36">glasses@business.com</a>
                </li>
            </Ul>
        </div>
        <ul class="footer-icon d-flex">
            <li class="me-32"><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
            <li class="me-32"><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
            <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
        </ul>     
        </div>
        <div class="copyright d-flex justify-between align-items-center flex-wrap text-white">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="policy d-flex fs-14">
                <li class="me-48"><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>