<footer class="bg-primary pt-48">
    <div class="container d-flex justify-between align-items-center">
        <ul class="menu text-white d-flex">
            <li class="me-48"><a href="../pages/index.html">首頁</a></li>
            <li class="me-48"><a href="#">系列鏡框</a></li>
            <li class="me-48"><a href="#">門市據點</a></li>
            <li class="me-48"><a href="#">部落格</a></li>
            <li><a href="../pages/faq.html">常見問題</a></li>
        </ul>
        <ul class="icon d-flex">
            <li class="me-32"><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
            <li class="me-32"><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
            <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
        </ul>
    </div>
    <div class="container d-flex align-items-center text-white mt-24 mb-8">
        <a class="me-16" href="#"><span class="material-icons material-icons-outlined fs-48 text-white phone">
            phone
            </span></a>
        <p class="fs-36">0800-000-000</p>    
    </div>
    <div class="container d-flex align-items-center text-white contactInfo mb-32">
        <a class="me-16" href="#"><span class="material-icons material-icons-outlined fs-48 text-white mail">
            email
            </span></a>
        <p class="fs-36">0lasses@business.com</p>    
    </div>
    <div class="container py-32 copyright d-flex justify-between align-center text-white">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="fs-14 d-flex">
            <li><a href="#">隱私權政策</a></li>
            <li class="ms-48"><a href="#">服務條款</a></li>
        </ul>
    </div>
</footer>