*, *::after, *::before {
	box-sizing: border-box; 
    border-collapse:collapse;  
}

body{
    font-family: 'Noto Sans TC', 'Roboto',  sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #000;
}

span{
    vertical-align: middle;
}

img{
    vertical-align: middle;
	max-width: 100%;
	height: auto;
}