.nav {
  &-wrap {
      @include mobile {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        padding: 16px 0 0 0;
      }
  }

  &-logo {
      display: block;
      width: 80px;
      height: 48.57px;
      @include mobile {
         margin: 0 0 16px 15px;
      }
  }
}

.menu {
  @include mobile {
    width: 100%;
    flex-wrap: wrap;
  }

  &-item {
    
      @include mobile {
          width: 50%;
          margin-right: 0px;
          border: 1px solid $white;
          padding: 12px 0px;
          text-align: center;
      }
  }

  &-link {     
      display: block;
      &:hover {
        text-decoration: underline;
        cursor:pointer;
      }
      @include mobile {
          font-size: 16px;
          text-align: center;
          margin: 0;
      }     
  }
}