.promiseDesert-bg{
    padding: 296px 0;
    background-image: url('/assets/images/home-header.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    @include pad{
       background-image: url('/assets/images/home-header-sm.png/'); 
    }
    @include mobile{
        padding: 144px 0;
        h2{
            font-size: 24px;
        }
        h4{
            font-size: 16px; 
        }
    }
}
.btn-buy{
    padding: 6px 12px;
}
.pink-bg{
    padding: 80px 0;
    background-color: $pink;
    @include mobile{
        padding: 40px 0;
    }
    li{
        width: calc((100% - 24px * 3) / 4);
        img{
        width: 100px;
        height: 100px;
        }
        @include pad{
            width: calc((100% - 24px) / 2);
			margin-bottom: 24px; 
        }
        @include mobile{
            width: 100%;
        }
    }    
}
.classic{
    li{
        text-align: center;
        width: calc((100% - 24px * 2) / 3);
        @include pad{
            width: 100%;
			margin-bottom: 24px;
        }
        a{
            font-weight: 900;
            font-style: italic;
            font-size: 48px;
            color: $primary;
            img{
                width: 416px;
                height: auto;
                @include pad{
                    display: block;
                    margin: 0 auto;
                    width: 336px;
                }
            }
        }
    }
}
.co-branded{
    background-image: url('/assets/images/index-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    @include pad{
        background-image: url('/assets/images/index-bg-md.png');
    }
    @include mobile{
        background-image: url('/assets/images/index-bg-sm.png');
    }
    li{
        width: 50%;
        @include pad{
            width: 100%;
			margin-bottom: 24px;
        }
        &:hover{
            a{
                filter: contrast(1.2); 
            }
            p{
                background-color: $primary;
                color: #fff;
            }
        }
        a{            
            img{
                width: 100%;
                height: auto;
            }
        }
        p{
            background-color: #fff;
            font-weight: 900;
            font-style: italic;
            font-size: 48px;
            color: $primary;
        }
         
    }
}
.recommend{
    li{
        width: calc((100% - 24px * 3) / 4);
        box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        @include pad{
            width: calc((100% - 24px)/2);
			margin-bottom: 24px;
        }
        @include mobile{
            width: 100%;
			margin-bottom: 16px;
        }
    }
}
.contact{
    background-color: $pink;
}
.form {
	width: 33.125%;
	margin: 0 auto;
    @include pad{
        width: 75%;
    }
    @include mobile{
        width: 100%;
    }
    p{
        @include pad{
            font-size: 16px;   
        }
    }
	&-input {
        background-color: transparent;
		width: 100%;
		padding: 6px 12px;
		border: 1px solid #000;
	}

	&-btn {
		width: 65.4%;
		display: block;
		margin: 0 auto;
		text-align: center;
		padding: 16px 0px;
		background: $primary;
		color: white;
        @include mobile{
            width: 100%;
        }
		&:hover{
			background: $secondary;
		}
	}
}
.feedback {
    resize: none;
    min-height: 136px;
  }