<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>glasses 官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="promiseDesert-bg">
      <div class="container align-right ">
        <h4 class="fs-36 text-secondary">Promise-Desert 2020 早春系列</h4>
        <h2 class="fs-64 fw-bold text-secondary mb-4">看得清，才能看得遠</h2>
        <a href="#" class="btn-buy bg-primary text-white">立即購買</a>
      </div>
    </div>
    <!-- 專業 -->
    <div class="pink-bg">
      <div class="container text-secondary align-center">
        <h3 class="fs-48 fw-bold mb-24">用專業的心，做專業的事</h3>
        <ul class="d-flex justify-between flex-wrap">
          <li class="align-center">
            <img class="mb-16" src="../assets/images/home-section2-1.png" alt="paid">
            <span class="text-secondary fs-24 fw-bold mb-8">單一價格</span>
            <p class="align-left text-black">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="align-center">
            <img class="mb-16" src="../assets/images/home-section2-2.png" alt="clock">
            <span class="text-secondary fs-24 fw-bold mb-8">20 分鐘即可取件</span>
            <p class="align-left text-black">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="align-center">
            <img class="mb-16" src="../assets/images/home-section2-3.png" alt="heart">
            <span class="text-secondary fs-24 fw-bold mb-8">安心售後服務</span>
            <p class="align-left text-black">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="align-center">
            <img class="mb-16" src="../assets/images/home-sectioin2-4.png" alt="glasses">
            <span class="text-secondary fs-24 fw-bold mb-8">關於鏡片</span>
            <p class="align-left text-black">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- 經典系列 -->
    <div class="classic py-80">
      <div class="container align-center">
        <h3 class="fs-48 fw-bold text-secondary mb-48">經典系列鏡框</h3>
        <ul class="d-flex justify-between flex-wrap">
          <li class="align-center hover-contrast">
            <a class="d-block" href="#">
              <img class="mb-8" src="../assets/images/home-section3-1.png" alt="OPTICAL"><span>OPTICAL</span> </a>
          </li>
          <li class="align-center hover-contrast">
            <a class="d-block" href="#">
              <img class="mb-8" src="../assets/images/home-section3-2.png" alt="SUNGLASSES"><span>SUNGLASSES</span></a>
          </li>
          <li class="align-center hover-contrast">
            <a class="d-block" href="#">
              <img class="mb-8" src="../assets/images/home-section3-3.png" alt="FUNCTIONAL"><span>FUNCTIONAL</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 聯名 co-branded-->
    <div class="co-branded py-80">
      <div class="container align-center">
        <h3 class="fs-48 fw-bold text-white mb-48">聯名設計鏡框</h3>
        <ul class="d-flex flex-wrap">
          <li>
            <a href="#"><img src="../assets/images/home-section4-1.png" alt="DOUBLE A+"></a>
            <p class="py-8">DOUBLE A+</p>
          </li>
          <li>
            <a href="#"><img src="../assets/images/home-section4-2.png" alt="YOUTH"></a>
            <p class="py-8">YOUTH</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- 顧客推薦 -->
    <div class="recommend py-80">
      <div class="container">
        <h3 class="fs-48 fw-bold text-secondary mb-48 align-center">顧客推薦</h3>
        <ul class="d-flex justify-between flex-wrap">
          <li class="hover-contrast">
            <a href="#"><img src="../assets/images/home-section5-1.png" alt="Jessy"></a>
            <div class="p-16">
              <p class="py-8 fw-medium">Jessy</p>
              <p class="mb-72">眼鏡品質優良，下次還會想來這邊購買！</p>
              <p class="fs-14 text-gray-6">2021/06/20</p>
            </div>
          </li>
          <li class="hover-contrast">
            <a href="#"><img src="../assets/images/home-section5-2.png" alt="凱倫"></a>
            <div class="p-16">
              <p class="py-8 fw-medium">凱倫</p>
              <p class="mb-72">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              <p class="fs-14 text-gray-6">2021/04/18</p>
            </div>
          </li>
          <li class="hover-contrast">
            <a href="#"><img src="../assets/images/home-section5-3.png" alt="悠悠"></a>
            <div class="p-16">
              <p class="py-8 fw-medium">悠悠</p>
              <p class="mb-72">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              <p class="fs-14 text-gray-6">2020/12/25</p>
            </div>
          </li>
          <li class="hover-contrast">
            <a href="#"><img src="../assets/images/home-section5-4.png" alt="Kyuan"></a>
            <div class="p-16">
              <p class="py-8 fw-medium">Kyuan</p>
              <p class="mb-72">服務很好，品質沒有任何問題，非常喜歡。</p>
              <p class="fs-14 text-gray-6">2020/10/31</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 聯絡我們 -->
    <div class="contact py-80">
      <div class="container d-flex flex-column align-items-center">
        <div class="form">
          <h3 class="fs-48 fw-bold text-secondary mb-48 align-center">聯絡我們</h3>
          <p class="fs-20 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若 <br> 仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form>
            <label class="mb-8" for="name">姓名</label>
            <input class="form-input mb-16" type="text" id="name" name="name" placeholder="陳小明">

            <label class="mb-8" for="phone">聯絡電話</label>
              <input class="form-input mb-16" type="tel" id="phone" name="phone" placeholder="0912-345-678">

              <label class="mb-8" for="email">電子郵件</label>
              <input class="form-input mb-16" type="email" id="email" name="email" placeholder="example@email.com">

              <label class="mb-8" for="feedback">意見反應</label>
              <textarea class="form-input mb-16 feedback" type="text" id="feedback" name="feedback"
                placeholder="請輸入您的意見"></textarea>

              <div class="mb-48">
                <input type="checkbox" name="agree" value="agree">
                <lable class="me-4" for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</lable>
              </div>
          </form>
          <a href="#" class="form-btn">確認送出</a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
